    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Sanderson Games</h2>
              <br/>
                <p>We're a game development company with a combined experience in the PC and mobile market.</p>
                <p>From action and adventure, to simulation and puzzle games, we've designed and developed a number of games for the mobile market.</p>
                <p>We aim to set the trends for the newly realised hypercasual market.</p>
                <br/>
              </div>
        </div>
    </section>
